   body {
      background: linear-gradient(#ffffff, #fef4eb);
      margin: 0;
      padding-top: 80px; /* espacio para navbar fija */
    }

    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1030;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .center-container {
      min-height: calc(100vh - 100px); /* ajusta según altura navbar */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
